GOALPAY_ACCESS_KEY=TGP_XXXXXXXXXXXXXXXXXXXXXX
GOALPAY_WEBHOOK_SECRET=SK_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
PAYMENT_GOALPAY_URL=https://api.goalpay.pro/api/payement/service
NEXT_PUBLIC_API_URL_BACKEND=http://localhost:3000/api